#addColum{
}
#calculateAverage{
margin-right: 10px;
}
#clearPage{
 margin-right: 10px;;
}
#averageDiv{
    margin-top: 15px;
}
#averageLabel{
    vertical-align: middle;
    padding-top: 7%;
}
#average{
    margin-left:15px;
}
.wrongNoteInput{
    border-color: red;
}
.correctNoteInput{
    border-color: green;
}
body{
   /* background-color: #454545;*/
}
.notenInput{
    margin-bottom: 2%;
}